/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	background: #F6F6F6;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	border-bottom: 1px solid #FF6000;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: #FF6000;
	text-decoration: none;
}

strong {
	font-weight: 600;
}

pre {
	padding: 0;
	margin: 0;
	font-family: "Courier","Courier New";
}

h1 {
	padding: 15px 20px;
	border-bottom: 1px dotted #FFF;
	background: #008BDF;
	border-top: 3px solid #003B5F;
	color: #FFF;
	margin: 0 0 20px 0;
	position: relative;
}

h1 strong {
	font-weight: 700;
	font-size: 46px;
	font-family: "Allan", sans-serif;
	text-shadow: 1px 2px 0 rgba(0,59,95,0.8);
}

h1 ul {
	float: right;
	list-style: none;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}

h1 ul li {
	float: left;
	padding:0 10px;
	border-left: 1px solid rgba(255,255,255,0.5);
	line-height: 1;
	height: 14px;
}

h1 ul li:first-child {
	border: none;
}

h1 ul li a {
	border: none;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0,59,95,0.4);
}

h1 ul li a:hover {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

h2 {
	font-weight: 700;
	font-size: 18px;
	padding: 0 0 5px;
	margin-top: 0;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px dotted #999;
}

h2 span {
	font-weight: 400;
}

h3 {
	font-weight: 700;
	font-size: 18px;
}

p {
	padding: 0 20px;
	margin: 10px 0;
	line-height: 1.5;
}

p.spacer {
	margin-bottom: 20px;
}

p.top-links {
	text-align: right;
	padding-right: 0;
}

.content {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.block {
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	position: relative;
}
.block:before,
.block:after {
	content:"";
	position:absolute;
	z-index:-2;
}
.block:before {
	box-shadow:0 0 15px rgba(0,0,0,0.6);
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	border-radius:100px / 10px;
}

#modal1 {
	background: #FF2D55;
	text-align: center;
	width: 600px;
	padding: 5px 0;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-weight: 600;
}

#modal2 {
	width:400px;
	background: #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#modal2 .header {
	background: #DDD;
	border-bottom: 1px solid #CCCCCC;
	padding: 18px 18px 14px;
}

#modal2 .header h3 {
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#modal2 form {
	padding: 10px 0;
}

#modal2 .txt {
	padding: 10px 20px;
}

#modal2 .txt input {
	width: 220px;
	height: 16px;
	padding: 5px;
	border: 1px solid #CCC;
}

#modal2 .txt label {
	float: left;
	width: 120px;
	line-height: 28px;
	font-size: 13px;
}

#modal2 .btn {
	padding: 10px 20px 10px 140px;
}

#modal2 .btn a {
	float: left;
	padding: 0 20px;
	line-height: 28px;
	background: #049CDB;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	color: #FFF;
	margin: 0 10px 0 0;
	border: none;
}

#modal2 .btn a.cancel {
	background: #DDDDDD;
	box-shadow: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}